.page.theme_light {
  --accent-color: #353430;
  --logo-color: #ffc2e6;
  --logo-shadow: #ff8dcb;
  --main-background-color: #ff8dcb;
  --title-text-color: #353430;
  --subtitle-text-color: #353430;
  --article-text-color: #353430;
  --main-background-image: url(https://github.com/valtocom/slozhno-sosredotochitsya/images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  .page {
    --accent-color: #353430;
    --logo-color: #ffc2e6;
    --logo-shadow: #ff8dcb;
    --main-background-color: #ff8dcb;
    --title-text-color: #353430;
    --subtitle-text-color: #353430;
    --article-text-color: #353430;
    --main-background-image: url(https://github.com/valtocom/slozhno-sosredotochitsya/images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}
